<template name="articles">
  <section class="articles app-articles">
    <article class="articles__item articles__item--first">
      <div class="articles__item__title">Best Strarting</div>
      <div class="articles__item__body">{{> lorem 40}}</div>
      <div class="articles__item__link btn">View Our History</div>
    </article>
    <article class="articles__item articles__item--second">
      <div class="articles__item__title">Verified Dummy</div>
      <div class="articles__item__body">{{> lorem 40}}</div>
      <div class="articles__item__link btn">Go To The Page</div>
    </article>
  </section>
</template>
