<template name="header">
  <header>
    <img src="/images/header.png" class="header__image" alt="header"/>
    <aside class="header__aside">
      <button class="menu__button header__aside__menu-buttom">
      </button>
      <div class="header__aside__title">
        <div class="header__aside__title__first">Ali Sayed's</div>
        <div class="header__aside__title__second">Web Designing</div>
        <div class="header__aside__title__third">Project</div>
      </div>
      <div class="header__aside__paragraph">{{> lorem}}</div>
      <div class="header__aside__paragraph">{{> lorem}}</div>
    </aside>
  </header>
</template>
